@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Balsamiq+Sans:wght@400;700&family=Comfortaa:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

main>section {
    width: 50%;
    height: 100%;
}

#crouselSec {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #0A1931;
    color: white;
    position: relative;
    text-align: center;
    font-family: Montserrat;
    justify-content: center;
    align-items: center;
}

.notice {
    margin-bottom: 58px;
    padding: 4mm;
    text-align: center;
    font: normal normal normal 1.1rem Montserrat;
    letter-spacing: 0.1px;
    color: #FEF8E6;
    opacity: 1;
    background-color: #183055;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.notice i{
    font-size: 2rem;
    margin-right: 1rem;
}

.crouselHeadDiv {
    position: relative;
    /* top: 9.25%; */
}

.crouselHead {
    width: max-content;
    margin: auto;
    letter-spacing: 0;
    text-align: left;
    font: normal 700 34px/51px Montserrat;
    letter-spacing: 0px;
    color: #FEF8E6;
    opacity: 1;
}

.crouselp1 {
    text-align: left;
    font: normal normal 500 14px/21px Montserrat;
    letter-spacing: 0.28px;
    color: #FFC41F;
}

.crouselName {
    font-size: 3rem;
    text-align: left;
    font: normal normal 700 4rem Poppins;
    letter-spacing: 1.92px;
    color: #F5A425;
    opacity: 1;
    width: min-content;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 100%;
}

.formSecHead {
    font-weight: 900;
    font: normal normal 700 3rem Montserrat;
    letter-spacing: 1.26px;
    color: #323232;
    opacity: 1;
}

.formSecinstruct {
    font: normal normal 500 1rem Montserrat;
    letter-spacing: 0.63px;
    color: #323232;
    opacity: 1;
    margin-top: 32px;
}

.email {
    font: normal normal 600 1rem Montserrat;
    letter-spacing: 0.63px;
    color: #323232;
    opacity: 1;
}

.OtpForm {
    margin-top: 48px;
    display: flex;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 6.6rem;
}

.otp {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    color: #183055;
    width: 4.35rem;
    height: 6.5rem;
    text-align: center;
    font: normal normal normal 3.5rem Montserrat;
    outline: none;
}

.otp:hover,
.otp:focus {
    border-width: 2px;
    border-color: #183055;
    border-style: solid;
}

.toggle {

    border-width: 2px;
    border-color: #183055;
    border-style: solid;
}

.btns {
    margin-top: 53px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    height: 2rem;
    display: flex;
    align-items: center;
}

.btns button {
    text-align: center;
    font: normal normal 300 1rem Montserrat;
    letter-spacing: 0.17px;
    color: #323232;
    background: #F1F1F136 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    margin-right: 30px;
    padding: 2mm;
    outline: none;
    border: none;
}

.btns button:hover{
    border: 1px solid #1830555C;
}

@media screen and (max-width: 400px) {
    #crouselSec {
        color: #FFC41F !important;
        display: none;
    }

    #formSec {
        align-self: center;
        justify-self: center;
        width: 800%;
    }
    .otp{
        width: 3rem;
        height: 5rem;
    }
}