@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Balsamiq+Sans:wght@400;700&family=Comfortaa:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.title {
	font: normal normal 600 1.275rem Montserrat;
	letter-spacing: 1.1px;
	color: #FF4D4D;
	padding-top: 3rem;
}

.desc {
	font: normal normal bold 2.25rem Poppins;
	letter-spacing: 0.72px;
	color: #183055;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
	margin-top: 2rem;
}

.content>img {
	height: 30rem;
	width: 23rem;
	padding: 1rem;
	border-radius: 12px;
	border: 5px solid #0A1931;
}

.content>div {
	align-self: flex-start;
	padding: 8% 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: stretch;
}

.content .points {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
}

.content .points details {
	font: normal normal 500 .75rem Montserrat;
	letter-spacing: 0.6px;
	color: #183055;
	width: 100%;
	padding: 1rem;
	position: relative;
}

.content .points details::before {
	content: '';
	position: absolute;
	top: 0;
	left: -1rem;
	transform: translateX(-50%);
	height: 100%;
	border: 1px solid #FF4D4D;
}

.content .points details[open]::after {
	position: absolute;
	top: 50%;
	left: -1rem;
	transform: translateX(-50%);
	content: '';
	border-radius: 15px;
	border: 10px solid #FF4D4D;
}

.content .points details summary {
	font: normal normal 800 1.125rem Montserrat;
	letter-spacing: 0.9px;
	color: #183055;
	list-style: none;
	margin-bottom: 1rem;
	position: relative;
}

.content .points details[open] summary {
	color: #FF4D4D;
}

.buyFrom {
	margin-top: 5.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 75%;
}

.buyFrom span {
	font: normal normal 400 .8rem Poppins;
	letter-spacing: -0.4px;
	color: #0A1931;
}

.bold {
	font-size: 1.5rem !important;
	font-weight: 700 !important;
}

.buyFrom label {
	display: flex;
	padding: .5rem 1rem;
	margin: 1rem;
	background: #F3F3F3 0% 0% no-repeat padding-box;
	border-radius: 4px;
	width: 100%;
}

.buyFrom label input {
	margin-right: 1rem;
	color: #FF4D4D;
}

.checked{
	border: 2px solid #FF4D4D !important;
	border-radius: 5px !important;
	background-color: #FFF !important;
}

.buyFrom button {
	width: 100%;
	box-shadow: 1px 3px 7px #6D6D6D8C;
	border: 5px solid #FF4D4D;
	border-radius: 6px;
	background-color: #FF4D4D;
	color: white;
	padding: .5rem 1rem;
	text-align: center;
	font: normal normal bold 23px/34px Poppins;
	letter-spacing: 0.46px;
	color: #FFFFFF;
}