@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Balsamiq+Sans:wght@400;700&family=Comfortaa:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 95%;
    margin: auto;
    margin-bottom: 27px;
    margin-top: 27px;
    height: 3rem;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.navLinks,
.filters {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.navLinks li,
.filters li {
    text-align: left;
    list-style: none;
    margin: 0px 2mm;
    width: max-content;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.navLinks li a,
.filters li a {
    font: normal normal normal 2em 'Baloo 2';
    letter-spacing: 0px;
    color: #0A1931;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.navLinks li:hover:before {
    content: '';
    position: absolute;
    bottom: 15%;
    left: 25%;
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: #0A1931;
}

.filters li:hover:first-child:before {
    content: '';
    position: absolute;
    bottom: 15%;
    left: 25%;
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: #0A1931;
}

.filters li input {
    outline: none;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    color: #0A1931;
    padding: 2mm 2mm 2mm 10mm;
    border-color: #0A1931;
    background-color: #FFFF;
    font-size: 1.2rem;

}

.personal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    font-size: 3rem;
}

.headerIcon {
    font-size: 2.3rem;
    margin-left: 2rem;
}

.filterIcon {
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%)
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.heading {
    width: 92%;
    border-radius: 2rem;
    background-color: #F9F9F9;
    padding-top: 2rem;
    display: flex;
    padding-bottom: 3rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.heading h1 {
    text-align: left;
    font: normal normal 700 56px/85px Poppins;
    letter-spacing: 1.12px;
    color: #183055;
    position: relative;
    opacity: 1;
}

.heading h1:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 8px;
    left: 25%;
    top: 100%;
    background-color: #183055;
    border-radius: 30px;
}

.info {
    margin-top: 44px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.info>span {
    text-align: left;
    font: 2rem/25px Montserrat;
    letter-spacing: 0.21px;
    color: #0A1931;
    opacity: 1;
}

.bold {
    font-weight: 700;
}

.cGreen {
    color: #2A956D;
}

.content {
    display: flex;
    width: 100%;
    min-height: 1cm;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.items {
    width: 62%;
    padding: 45px 4% 4% 3%;
    background-color: #F9F9F9;
    border-radius: 1rem;
}

.items>label {
    display: flex;
    width: max-content;
    height: max-content;
    align-content: center;
    align-items: center;
    text-align: left;
    font: 1.6rem/25px Montserrat;
    letter-spacing: 0.42px;
    color: #183055;
    opacity: 1;
}

.items>label>input {
    width: 20px;
    height: 20px;
    margin-right: 1.2rem;
}

.itemsHr {
    margin-top: 1rem;
    border: 3px solid #0A1931;
    border-radius: 40px;
}

.bookSelect {
    width: 20px;
    height: 20px;
}

.books {
    padding: .5rem;
    border-radius: 10px;
    margin: 2.8rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.books div+div {
    margin-left: 2rem;
}

.bookDetails {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
}

.bookImg {
    height: 9.3rem;
}

.details {
    display: inline-flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
}

.bookName {
    text-align: left;
    font: normal normal 800 2rem/39px Montserrat;
    font-weight: 700;
    letter-spacing: 0.64px;
    color: #183055;
}

.bookStock {
    text-align: left;
    font: normal normal normal 1.35rem/27px Lato;
    letter-spacing: 0.44px;
    opacity: 1;
}

.bookCondition {
    text-align: left;
    font: normal normal 500 1.56rem/34px Montserrat;
    letter-spacing: 0.13px;
    color: #183055;
    opacity: 1;
}

.bookQuantity {
    font: normal normal 500 25px/31px Montserrat;
    letter-spacing: 0.75px;
    color: #183055;
    opacity: 1;
    display: flex;
}

.bookQuantityBtn {
    display: flex;
    margin-left: 1rem;
}

.bookQuantityBtn * {
    border: 2px solid #183055;
    outline: none;
    padding: 0rem .5rem;
    font: normal normal normal 1.25rem Lato;
    letter-spacing: 1.52px;
    color: #183055;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bookQuantityBtn input {
    border-left: none;
    border-right: none;
    width: 1rem;
    text-align: center;
}

.bookPrices {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
}

.bookPrice {
    text-align: left;
    font: normal normal 600 1.875rem/48px Montserrat;
    letter-spacing: 0.3px;
    color: #0A1931;
}

.seemore {
    text-align: left;
    font: normal normal 500 13px/16px Montserrat;
    letter-spacing: 0.13px;
    color: #19A26F;
    opacity: 1;
}

.price {
    width: 25%;
    border-radius: 15px;
    background-color: #F9F9F9;
    padding: 2.12rem 1.56rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.youSaved {
    text-align: left;
    font: normal normal 1rem/20px Montserrat;
    letter-spacing: 0.34px;
    color: #2A956D;
    opacity: 1;
}

.finalPrice {
    text-align: left;
    font: normal normal 2rem/39px Montserrat;
    letter-spacing: 0.64px;
    color: #183055;
    opacity: 1;
}

.smallSymbol {
    font-size: 1.5rem;
}

.buyBtn {
    background: #FFC41F 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 85%;
    padding: 1rem 0;
    border: none;
    outline: none;
    border-radius: 15px;
    text-align: center;
    font: normal normal 600 1.5rem/29px Montserrat;
    letter-spacing: 0.48px;
    color: #0A1931;
    opacity: 1;
}

.bgRed{
    background-color: #ff000024;
}

@media only screen and (max-width: 480px) {
    header {
        display: none;
    }

    .info {
        flex-direction: column;
    }

    .info span {
        line-height: 2.1rem;
    }

    .info span+span {
        margin-top: 1rem;
    }

    .content {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .items {
        width: 90%;

    }

    .books {
        position: relative;
        padding: .5rem;
        border-radius: 10px;
    }


    .bookDetails {
        margin: 0 !important;
        flex-wrap: nowrap;
    }

    .bookDetails img {
        width: 5rem;
        height: auto;
    }

    .details {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .bookName{
        font-size: 1.5rem;
    }
    .bookStock{
        font-size: 1.1rem;
    }
    .bookCondition{
        font-size: 1.25rem;
    }
    .bookQuantity{
        font-size: 1.25rem;
    }
    .bookPrices{
        margin: 0 !important;
    }
    .bookPrice{
        font-size: 1.5rem;
    }
    .bookCheck{
        position: absolute;
        inset: 0;
        opacity: 0;
    }
    .bookCheck input{
        width: 100%;
        height: 100%;
    }
    .price{
        width: 80%;
        
    }
    .buyBtn{
        margin-top: 1rem;
    }
}