@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Balsamiq+Sans:wght@400;700&family=Comfortaa:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.dNone {
    display: none;
}

body {
    background-color: #0A1931;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

header nav ul {
    margin: 0rem 1rem;
}

.navUl {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    list-style: none;
}

.navUlLi a {
    text-align: left;
    font: normal normal normal 1.8rem 'Baloo 2';
    letter-spacing: 0px;
    color: #FEF8E6;
    text-decoration: none;
    margin: 0rem 1.25rem;
}

.navUlLi i {
    text-align: left;
    font-size: 1.625rem;
    letter-spacing: 0px;
    color: #FEF8E6;
    text-decoration: none;
    margin: 0rem .5rem;
}

.navUlLi {
    position: relative;
}

.navUlLi:not(.icoUl li):hover::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 50%;
    border: 1px solid #FEF8E6;
}

#mainBook {
    display: grid;
    margin: 2rem 6%;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    grid-template-areas: 'img desc';
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    grid-area: desc;
}

.bookName {
    font: normal normal 700 2.625rem Montserrat;
    letter-spacing: 2.1px;
    color: #EBE8E8;
}

.discountedPrice {
    font: normal normal 500 1.625rem Montserrat;
    letter-spacing: 2.08px;
    color: #FFC41F;
}

.originalPrice {
    text-decoration: line-through;
    font: normal normal 500 1.625rem Montserrat;
    letter-spacing: 2.08px;
    color: #D5D5D5;
}

.originalPriceSave {
    font: normal normal normal 1.125rem Lato;
    letter-spacing: 0.72px;
    color: #ACAFB3;
}

.ratingStars {
    font-size: 1rem;
    color: #FFC41F;
}

.ratingNo {
    text-align: left;
    letter-spacing: 0px;
    color: #EBE8E8;
    font: normal normal 500 1.3rem Poppins;
}

.offers {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

.offerBold {
    font: normal normal 500 1.3rem Montserrat;
    letter-spacing: 0.42px;
    color: #4F5CEB;
}

.offer {
    font: normal normal 300 1.1rem Montserrat;
    letter-spacing: 0.72px;
    color: #8991E8;
}

.bookCondition {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    font: normal normal 500 1.625rem Montserrat;
    letter-spacing: 1.04px;
    color: #E5E4E4;
}

.bookCondition select {
    margin-left: 1rem;
    font: normal normal 500 1.5rem Montserrat;
    background: #4F5CEB29 0% 0% no-repeat padding-box;
    border: 0.5px solid #4F5CEB;
    border-radius: 3px;
    color: #E5E4E4;
    padding: 1rem;
}

.qtyStock {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.bookQty {
    font: normal normal 500 1.625rem Montserrat;
    letter-spacing: 1.04px;
    color: #E5E4E4;
}


.bookQuantity {
    font: normal normal 500 25px/31px Montserrat;
    letter-spacing: 0.75px;
    color: #183055;
    opacity: 1;
    display: flex;
}

.bookQuantityBtn {
    display: inline-flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bookQuantityBtn * {
    border: 2px solid #D5D5D5;
    outline: none;
    padding: 0rem .5rem;
    font: normal normal normal 1.25rem Lato;
    letter-spacing: 1.52px;
    color: #D5D5D5;
    background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bookQuantityBtn input {
    border-left: none;
    border-right: none;
    width: 1rem;
    text-align: center
}


.qty {
    font: normal normal 600 1.25rem Montserrat;
    letter-spacing: 0.4px;
    color: #FF4D4D;
}

.btns {
    margin-top: 3.125rem;
}

#addToCartBtn {
    background: #F5A425 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 1rem 2.625rem;
    font: normal normal 600 1.5rem Montserrat;
    letter-spacing: 1.25px;
    color: #0A1931;
    margin-right: 3.125rem;
}

#buyNowBtn {
    background: #05E591 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 1rem 2.625rem;
    font: normal normal 600 1.5rem Montserrat;
    letter-spacing: 1.25px;
    color: #0A1931;
    margin-right: 3.125rem;
}

.discription {
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
}

.desc1 {
    font: normal normal 500 1.625rem Montserrat;
    letter-spacing: 1.04px;
    color: #E5E4E4;
}

.desc {
    font: normal normal 300 1.125rem Montserrat;
    letter-spacing: 0.72px;
    color: #8991E8;
}

.policy {
    margin-top: 2.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 90%;
}

.policy span {
    font: normal normal 500 1.125rem Montserrat;
    letter-spacing: 0.72px;
    color: #8991E8;
    display: flex;
    align-items: center;
}

.policy span i {
    color: #EBE8E8;
    font-size: 1.6rem;
    margin-right: 1rem;
}

.pageNavTxt {
    font: normal normal 500 22px/63px Montserrat;
    letter-spacing: 1.1px;
    color: #D5D5D5;
    padding-left: 2rem;
}

.bookImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    grid-area: img;
}

.bookImg>img {
    height: 30.5rem;
    padding: .1rem;
    border: 1px solid #F5A425;
    border-radius: 5px;
}

.otherImg {
    margin-top: 1.6rem;
}

.otherImg img {
    height: 6rem;
    margin: .2rem;
}

hr {
    border: 1px solid #D5D5D5;
    opacity: .25;
}

#frequentlyBoughtTogether {
    margin: 2rem 6%;
}

#frequentlyBoughtTogether .mainHead {
    font: normal normal 500 2.625rem Montserrat;
    letter-spacing: 2.1px;
    color: #EBE8E8;
}

.imgPrice {
    margin-top: 3.5rem;
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.booksImg {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.booksImg img {
    height: 11.5rem;
    padding: 2.8rem;
}

.booksImg span {
    font-size: 3.5rem;
    color: #FEF8E6;
    font-weight: 700;
}

.price {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.totalPrice {
    font: normal normal 500 1.625rem Montserrat;
    letter-spacing: 1.04px;
    color: #E5E4E4;
}

.cYellow {
    color: #F5A425 !important;
}

.addToCartBundle {
    margin-top: 1.6rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: left;
    font: normal normal 500 1.5rem Montserrat;
    letter-spacing: 1.15px;
    color: #0A1931;
    padding: .5rem 2rem;
}

.bundleBooks {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.inputSpan {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
    border: 2px solid #4F5CEB;
    border-radius: 4px;
    position: relative;
}

.inputSpan span {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;

}

.inputSpan input:checked~span {
    background-color: #4F5CEB;
    display: inline-block !important;
    color: white;
    text-align: center;
}

.inputSpan>input {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.bundleBooks label {
    margin: .25rem 0rem;
    display: flex;
    align-items: center;
}

.bold {
    font: normal normal 500 1.3rem Montserrat !important;
    letter-spacing: 0.42px !important;
    color: #4F5CEB !important;
}

.bundleBooks label>span:not(.inputSpan) {
    font: normal normal 300 1.125rem Montserrat;
    letter-spacing: 0.72px;
    color: #8991E8;
}

.small {
    font: normal normal 300 .75rem Montserrat !important;
    letter-spacing: 0.48px !important;
    color: #8991E8 !important;
}

#buyAndSave {
    margin: 2rem 6%;
}

#buyAndSave .mainHead {
    font: normal normal 500 2.625rem Montserrat;
    letter-spacing: 2.1px;
    color: #EBE8E8;
}

.buyBooks {
    margin: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.book {
    width: 16rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.bookImgBuy {
    width: 16rem;
    height: 19rem;
}

.bookTitle {
    font: normal normal 400 1.25rem Montserrat;
    letter-spacing: 0.8px;
    color: #EBE8E8;
}

.author {
    font: normal normal 300 .75rem Montserrat;
    letter-spacing: 0.48px;
    color: #D5D5D5;
}

.bookPrice {
    font: normal normal 500 1.5rem Montserrat;
    letter-spacing: 1.92px;
    color: #F5A425;
}

.total {
    font: normal normal 500 1.625rem Montserrat;
    margin-top: 3.75rem;
    letter-spacing: 1.04px;
    color: #E5E4E4;
}

.addToCartBtnBuy {
    font: normal normal 600 1.5rem Montserrat;
    letter-spacing: 1.15px;
    color: #0A1931;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 1rem 2.5rem;
}

.rating span {
    font: normal normal 500 1.125rem Poppins;
    letter-spacing: 0.36px;
    color: #D5D5D5;
}

.rating i {
    font-size: 1rem;
    color: #F5A425;
}

.book>label {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.25rem;
    height: 1.25rem;
}

.book>label input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 0;
}

.book>label span {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #4F5CEB;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* TODO: Complete it */
.book>label input:checked~.checkboxDec {
    content: "done";
}

#rating {
    margin: 3.125rem;
    padding: 2rem;
    background-color: #EEEEEE;
}

#rating>div {
    border: 1px solid #0a19314d;
    padding: 3.125rem;
}

.mainHeadFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.mainHeadFlex .mainHead {
    font: normal normal 600 2.625rem Montserrat;
    letter-spacing: 2.1px;
    color: #0A1931;
    position: relative;
}

.mainHeadFlex .mainHead::after {
    position: absolute;
    top: 100%;
    left: 10%;
    content: '';
    border: 2.5px solid #0A1931;
    background-color: #0A1931;
    border-radius: 10000px;
    width: 40%;
}

.mainHeadFlex button {
    box-shadow: 0px 3px 6px #00000063;
    border: 1px solid #0A1931;
    border-radius: 4px;
    font: normal normal bold 1rem Montserrat;
    background-color: #0A1931;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    padding: 1rem 3rem;
    align-items: center;
    display: flex;
}

.metrics {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
}

.info {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.info h3 {
    font: normal normal 500 2.3rem Poppins;
    letter-spacing: 1.85px;
    color: #272727;
}

.rating {
    display: flex;
    align-items: center;
}

.rating i {
    width: 2.3rem;
    height: 2.3rem;
    font-size: 2.3rem;
    color: #272727;
}

.moreInfo {
    font: normal normal 400 1.375rem Montserrat;
    letter-spacing: 0.66px;
    color: #444444;
}

.percent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.barPercent {
    font: normal normal normal 1.25rem Poppins;
    letter-spacing: 1px;
    color: #272727;
    display: flex;
    align-items: center;
    align-content: center;
}

.bar {
    width: 15rem;
    height: 7px;
    margin: 0rem .9rem;
    border-radius: 100px;
    background-color: #d4d4d4;
    position: relative;
}

.barCGreen:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: '';
    width: 90%;
    border-radius: 1000px;
    background-color: #008512;
}

.barCOrange:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: '';
    width: 90%;
    border-radius: 1000px;
    background-color: #ff950a;
}

.barCRed:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: '';
    width: 90%;
    border-radius: 1000px;
    background-color: #ff0000;
}

.head {
    width: 3rem !important;
    text-align: left !important;
    align-self: flex-start;
}

.donutChart {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 5;
}

.donutChart .chartInfo {
    font: normal normal 500 1.5rem Poppins;
    letter-spacing: 0.24px;
    color: #272727;
}

.chart {
    font: normal normal 400 2.3rem Poppins;
    letter-spacing: 0.37px;
    color: #272727;
    display: inline-block;
    padding: calc(5rem - 2.3rem);
    position: relative;
    z-index: 2;
    --deg: 300deg;
}

.chart::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 1000000rem;
    background-color: #008512;
    background: conic-gradient(#008512 0deg var(--deg), #EEEEEE var(--deg));
}

.chart::after {
    width: 90%;
    height: 90%;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 1000000rem;
    background-color: #EEEEEE;
}

.reviewsHead {
    font: normal normal 600 1.75rem Montserrat;
    margin-top: 2.875rem;
    letter-spacing: 1.4px;
    color: #0A1931;
    margin-bottom: 1.875rem;
}

.imgs {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.imgs img {
    width: 8rem;
    height: 9.5rem;
    position: relative;
}

.lastImg {
    position: relative;
}

.lastImg::after {
    position: absolute;
    inset: 0;
    content: '+44';
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal 500 37px/49px Poppins;
    letter-spacing: 1.85px;
    color: #EBE8E8;
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
}

.customerReviews .reviewsHead {
    padding: 0 !important;
    margin: 0 !important;
}

.customerReviews .head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100% !important;
    margin-top: 3.75rem;
}

.customerReviews .head select {
    background: #EBE8E8 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 18px #C1C1C126;
    border-radius: 10px;
    font: normal normal normal 1.5rem Poppins;
    letter-spacing: 0px;
    color: #0A1931;
    outline: none;
    border: none;
    padding: 1rem 2rem;
}

.review {
    margin-top: 1.8rem;
}

.reviewHead {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.reviewRating {
    background: #2B8D68 0% 0% no-repeat padding-box;
    border-radius: 3px;
    font: normal normal 500 .9rem Poppins;
    letter-spacing: 0.75px;
    color: #EBEBEB;
    padding: .25rem .5rem;
    margin-right: 1.25rem;
}

.reviewRating i {
    font-size: .9rem !important;
}

.reviewTitle {
    font: normal normal normal 1.5rem Poppins;
    letter-spacing: 1.15px;
    color: #0A1931;
    margin-right: 1.25rem;
}

.purchase {
    font: normal normal normal .875rem Poppins;
    letter-spacing: 0.42px;
    color: #D84242;
}

.reviewBody {
    margin-top: 1.5rem;
}

.reviewText {
    font: normal normal 300 1.5rem Poppins;
    letter-spacing: 0.69px;
    color: #0A1931;
}

.reviewImages img {
    width: 3rem;
    margin: .2rem;
}

.reviewFooter {
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
}

.reviewFooter span {
    font: normal normal normal 1.375rem Poppins;
    letter-spacing: 0.66px;
    color: #828282;
}

.reviewFooter .dot {
    height: min-content;
    vertical-align: middle;
    margin: .6rem;
}

.reviewFooter i {
    color: #828282;
    font-variation-settings: 'FILL' 1;
    margin-right: .5rem;
}

#more {
    margin: 6.25rem 7.3rem;
}

#more .mainHead {
    font: normal normal 500 2.625rem Montserrat;
    letter-spacing: 2.1px;
    color: #EBE8E8;
}

.scrollDiv {
    margin: 2.8125rem;
    overflow-x: auto;
    overflow-y: auto;
    height: min-content;
    /* height: 30rem; */
    padding-bottom: 2rem;
}

.scrollDiv::-webkit-scrollbar {
    display: none;
}

.scrollDiv>div {
    width: max-content;
}

.moreCard {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 20rem;
    border-radius: 20px;
    margin: 1rem;
    background-color: #262D60;
}

.moreCard img {
    width: 100%;
}

.moreCardDetails {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
}

.moreCardHead {
    font: normal normal 500 1.5rem Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.moreCardPrice {
    font: normal normal normal 1.1rem Lato;
    letter-spacing: 0.38px;
    color: #EBE8E8;
    margin-top: 1rem;
}

.moreCardPrice .originalPrice {
    text-decoration: line-through;
    font: normal normal 500 .8rem Montserrat;
    letter-spacing: 1.04px;
    color: #D5D5D5;
}

.moreCardPrice .save {
    font: normal normal normal .625rem Lato;
    letter-spacing: 0.4px;
    color: #acafb3bb;
}

.moreCardRating {
    color: #FFC41F;
    font-size: 1rem;
    margin-top: .5rem;
}

.moreCardRating i {
    width: 1rem;
    height: 1rem;
}

.moreCardRating .moreCardRatingInfo {
    font: normal normal normal .75rem Lato;
    letter-spacing: 0.24px;
    color: #D5D5D5;
    margin-left: .25rem;
}

.moreCardStock {
    margin-top: 1rem;
    font: normal normal normal .9rem Lato;
    letter-spacing: 0.3px;
    color: #FFC41F;
}

.moreCardAddToCart {
    width: 90%;
    background-color: #FFC41F;
    border-radius: 5px;
    font: normal normal 500 1rem 'Baloo 2';
    font-size: 1rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.32px;
    color: #0A1931;
    border: none;
    margin: 1rem;
    padding: .5rem;
}

#trendingDeals {
    margin: 3rem 7rem;
}

#trendingDeals .mainHead {
    font: normal normal 500 2.6rem Montserrat;
    letter-spacing: 2.1px;
    color: #EBE8E8;
}

.deals {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deal {
    width: max-content;
    background-size: cover;
    padding: 3.5rem;
}

.dealDetails {
    padding: 2.5rem;
    backdrop-filter: blur(15px);
    --webkit-backdrop-filter: blur(15px);
    background-color: #ffffff3b;
}

.dealHead,
.dealDesc {
    font: normal normal 700 1.75rem Montserrat;
    letter-spacing: 1.4px;
    color: #EBE8E8;
    text-transform: uppercase;
}

.dealBtn {
    font: normal normal 600 1.5rem Montserrat;
    letter-spacing: 1.38px;
    color: #0A1931;
    border-radius: 3rem;
    border: none;
    padding: 1rem 3rem;
}